name: Pull Request

on:
    pull_request:
        branches:
            - main

env:
    NODE_VERSION: 22.x
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
    build:
        name: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Environment ( ${{ env.NODE_VERSION }} )
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Install dependencies
              run: npm ci

            - name: Build package
              run: npm run build

    lint:
        name: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Environment ( ${{ env.NODE_VERSION }} )
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Install dependencies
              run: npm ci

            - run: npm run lint

    version:
        name: Update version
        needs:
            - build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Bump version
              env:
                  ACTIONS_STEP_DEBUG: true
                  ACTIONS_RUNNER_DEBUG: true
              uses: apomalyn/bump-version-using-labels@v1.5.0
              with:
                  file_path: "package.json"
                  major_label: "#major"
                  minor_label: "#minor"
                  patch_label: "#patch"
                  use_tag_as_ref: true
